* {
  box-sizing: border-box;
}

body {
   font-family: Verdana, "Times New Roman", Times, serif;
}

p {
  font-size: 0.9em;
  padding: 5px;
  line-height: 20px;
  text-align: left;
}

h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 2.0em;
  text-align: center;

}

.js_link {
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.js_link:hover {
  text-decoration: underline;;
}

.wrapper {
  position: absolute;

  font-family: Verdana, "Times New Roman", Times, serif;
  font-size: 0.85em;

  width: 100%;
  text-align: center;

}

.col_400 {
  display: inline-block;
  vertical-align: top;

  border: 1px solid #b3b3b3;
  background-color: #f2f2f2;
  border-radius: 5px;
  width: 400px;
  overflow: auto;

  margin: 25px 25px 25px 25px;
  padding: 10px 10px 10px 10px;
}

.col_header {
  text-align: left;
  font-size: 1.2em;
  padding-bottom: 15px;
}

.right {
  float: right;
  clear: right;
}

.calc {
  width: 60px;
}

.calc_outcome {
  width: 120px;
}

.bold {
  font-style: italic;
  font-weight: bold;
}

kbd {
  background-color:#f7f7f7;
  border:1px solid #ccc;
  border-radius:3px;
  box-shadow:0 1px 0px rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  color:#333;
  display:inline-block;
  font-family:Arial,Helvetica,sans-serif;
  font-size:11px;
  line-height:1.4;
  margin:0 0.1em;
  padding:0.1em 0.6em;
  text-shadow:0 1px 0 #fff;
  white-space:nowrap
}
